@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@model DATNWEB.Models.Anime;
@{
    ViewData["Title"] = "AnimesAdd";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
}

<div class="card">
    <div class="card-body">
        <h4 class="card-title">Add Anime</h4>
        <form method="post" action="@Url.Action("AnimeAdds", "Anime")" class="forms-sample" enctype="multipart/form-data">
            @Html.AntiForgeryToken()
            <div class="form-group">
                <label>Anime ID</label>
                <input type="text" class="form-control" asp-for="AnimeId" placeholder="ID" value="@Model.AnimeId" readonly>
            </div>
            <div class="form-group">
                <label>Anime Name</label>
                <input type="text" class="form-control" asp-for="AnimeName" placeholder="Name">
            </div>
            <div class="form-group">
                <label>Horizontal image </label>
                <input type="file" class="form-control" name="h" id="imageInput" onchange="displayImage(this,'previewImage')">
                <img id="previewImage" style="max-width: 200px; max-height: 200px; margin-top: 10px;" />
            </div>
            <div class="form-group">
                <label>Vertical image</label>
                <input type="file" class="form-control" name="v" id="imageInputv" onchange="displayImage(this,'previewImage1')">
                <img id="previewImage1" style="max-width: 200px; max-height: 200px; margin-top: 10px;" />
            </div>
            <div class="form-group">
                <label>Background image </label>
                <input type="file" class="form-control" name="b" id="imageInputb" onchange="displayImage(this,'previewImage2')">
                <img id="previewImage2" style="max-width: 200px; max-height: 200px; margin-top: 10px;" />
            </div>
            <div class="form-group">
                <label>Total episode</label>
                <input type="number" class="form-control" asp-for="TotalEpisode">
            </div>
            <div class="form-group">
                <label>Information</label>
                <input type="text" class="form-control" asp-for="Information" placeholder="Information">
            </div>
            <div class="form-group">
                <label>Posting Date</label>
                <input id="datetime-local-input" asp-for="BroadcastSchedule" type="datetime-local" class="form-control" />
            </div>
            <div class="form-group">
                <label>Permission</label>
                <select class="form-control" asp-for="Permission">
                    <option value="">Choose</option>
                    <option value="0">Vip</option>
                    <option value="1">Nomal</option>
                </select>
            </div>
            <div class="form-group">
                <label>Season</label>
                <select asp-for="SeasonId" class="form-control" asp-items="ViewBag.Season"></select>
            </div>
            <div class="form-group">
                <label>Director</label>
                <select asp-for="DirectorId" class="form-control" asp-items="ViewBag.Director"></select>
            </div>
            <button type="submit" class="btn btn-gradient-primary me-2">Submit</button>
            <a class="btn btn-light" href="/admin/Anime">Cancel</a>
        </form>
    </div>
</div>

<script src="../Admin/js/ShowImage.js"></script>

<script>
    document.addEventListener('DOMContentLoaded', (event) => {
        var currentDate = new Date();
        // Lấy thời gian hiện tại UTC
        var utcTime = currentDate.getTime() + (currentDate.getTimezoneOffset() * 60000);
        // Tạo đối tượng Date mới với UTC+7
        var utcPlus7 = new Date(utcTime + (7 * 60 * 60000));
        // Trích xuất các thành phần thời gian
        var year = utcPlus7.getFullYear();
        var month = utcPlus7.getMonth() + 1; // Tháng bắt đầu từ 0
        var day = utcPlus7.getDate();
        var hours = utcPlus7.getHours();
        var minutes = utcPlus7.getMinutes();
        // Định dạng lại thời gian
        var formattedDateTime = year + '-' + pad(month) + '-' + pad(day) + 'T' + pad(hours) + ':' + pad(minutes);
        // Đặt giá trị cho input
        document.getElementById('datetime-local-input').value = formattedDateTime;
    });
    // Hàm để thêm số 0 vào trước các số có một chữ số
    function pad(number) {
        if (number < 10) {
            return '0' + number;
        }
        return number;
    }
</script>