@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@model DATNWEB.Models.ServiceUsage;
@{
    ViewData["Title"] = "ServicesAdd";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
}

<div class="card">
    <div class="card-body">
        <h4 class="card-title">Add Price</h4>
        <form method="post" action="@Url.Action("ServiceAdds", "PackageUsage")" class="forms-sample">
            @Html.AntiForgeryToken()
            <div class="form-group">
                <label>Package ID</label>
                <input type="text" class="form-control" asp-for="PackageId" placeholder="Name" value="@Model.PackageId" readonly>
            </div>
            <div class="form-group">
                <label>Used Time</label>
                <input type="number" class="form-control" asp-for="UsedTime" value="1">
            </div>
            <div class="form-group">
                <label>Price</label>
                <input type="number" class="form-control" asp-for="Price" placeholder="Price">
            </div>
            <button type="submit" class="btn btn-gradient-primary me-2">Submit</button>
            <a class="btn btn-light" href="/admin/PackageUsage?ids=@Model.PackageId">Cancel</a>
        </form>
    </div>
</div>

<style>
    /* Hide the number input spinner */
    input[type=number]::-webkit-inner-spin-button,
    input[type=number]::-webkit-outer-spin-button {
        -webkit-appearance: none;
        margin: 0;
    }
</style>
