@model DATNWEB.Models.Anime
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@{
    ViewData["Title"] = "AnimeDetail";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="breadcrumb-option">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="breadcrumb__links">
                    <a asp-action="Index" asp-controller="home"><i class="fa fa-home"></i> Home</a>
                    <a>@Model.AnimeName</a>
                </div>
            </div>
        </div>
    </div>
</div>
<section class="anime-details spad">
    <div class="container">
        <div class="anime__details__content">
            <div class="row" id="detail">              
            </div>
        </div>
        <div class="row">
            <div class="col-lg-8 col-md-8">
                <div class="anime__details__review" id="review">
                </div>
                <div id="pagination"></div>
                <br />
                <div class="anime__details__form">
                    <div class="section-title">
                        <h5>Your Comment</h5>
                    </div>
                    <form>
                        <select id="vrate" class="form-select  js-choice">
                            <option value="5" selected="">★★★★★ (5/5)</option>
                            <option value="4" >★★★★☆ (4/5)</option>
                            <option value="3" >★★★☆☆ (3/5)</option>
                            <option value="2" >★★☆☆☆ (2/5)</option>
                            <option value="1" >★☆☆☆☆ (1/5)</option>
                        </select>
                        <textarea placeholder="Your Comment" id="idrv"></textarea>
                        <button type="button" onclick="addreview('@Model.AnimeId');"><i class="fa fa-location-arrow"></i> Review</button>
                    </form>
                </div>
            </div>
            <div class="col-lg-4 col-md-4">
                <div class="anime__details__sidebar" id="like">
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Anime Section End -->

<script src="@Url.Content("~/pagesjs/animedetail.js")"></script>
<script>
    detail('@Model.AnimeId');
</script>
