
@{
    ViewData["Title"] = "Blog";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!-- Blog Details Section Begin -->
<section class="blog-details spad">
    <div class="container">
        <div class="row d-flex justify-content-center" id="blogs">           
            
        </div>
    </div>
</section>
<!-- Blog Details Section End -->
<script src="@Url.Content("~/pagesjs/blog.js")"></script>
<script>
    blogs();
</script>

