
@{
    ViewData["Title"] = "infouser";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<!-- Normal Breadcrumb Begin -->
<div class="container-lg">
    <div class="row">
        <div class="widget-sidebar col-lg-3">
            <div class="side-bar">
                <h4 class="side-bar__title">Tài khoản và dịch vụ</h4>
                <ul class="nav nav-content flex-column">
                    <li class="nav-item menu-item">
                        <a href="/tai-khoan/thong-tin-ca-nhan" class="nav-link nuxt-link-exact-active active" target="_self" aria-current="page">
                            <span class="title">Thông tin cá nhân</span>
                        </a>
                    </li>
                    <li class="nav-item menu-item">
                        <a href="/tai-khoan/ho-so" class="nav-link" target="_self">
                            <span class="title">Hồ sơ</span>
                        </a>
                    </li>
                    <li class="nav-item menu-item">
                        <a href="/loyalty/gift-warehouse" class="nav-link" target="_self">
                            <span class="title">FPT Play Rewards</span>
                        </a>
                    </li>
                    <li class="nav-item menu-item">
                        <a href="/tai-khoan/quan-li-thiet-bi" class="nav-link" target="_self">
                            <span class="title">Quản lý thiết bị</span>
                        </a>
                    </li>
                    <li class="nav-item menu-item">
                        <a href="/tai-khoan/quan-li-the-thanh-toan" class="nav-link" target="_self">
                            <span class="title">Quản lý thẻ thanh toán</span>
                        </a>
                    </li>
                    <li class="nav-item menu-item">
                        <a href="/tai-khoan/lich-su-giao-dich" class="nav-link" target="_self">
                            <span class="title">Lịch sử giao dịch</span>
                        </a>
                    </li>
                    <li class="nav-item menu-item">
                        <a href="/tai-khoan/dich-vu-da-mua" class="nav-link" target="_self">
                            <span class="title">Dịch vụ đã mua</span>
                        </a>
                    </li>
                    <li class="nav-item menu-item">
                        <a href="/tai-khoan/ma-kich-hoat" class="nav-link" target="_self">
                            <span class="title">Nhập mã kích hoạt</span>
                        </a>
                    </li>
                    <div class="line"></div>
                    <li class="nav-item menu-item">
                        <a href="#" target="_self" class="nav-link">
                            Đăng xuất tài khoản
                        </a>
                    </li>
                </ul>
            </div>
        </div>
        <div class="content col-lg-9">
            <div id="personal-area">
                <div class="personal">
                    <h5>Hồ sơ</h5>
                    <div class="personal__profile">
                        <div class="d-flex align-items-center">
                            <span class="b-avatar img-avatar badge-secondary rounded-circle">
                                <span class="b-avatar-img">
                                    <img src="https://images.fptplay.net/media/structure/default_avatar_new_2023_03_08.png" alt="avatar">
                                </span>
                            </span>
                            <div class="profile-info">
                                <div class="profile-info-div">
                                    <p class="name">0968161576</p>
                                    <div class="d-flex align-items-center">
                                        <span class="label">Giới tính:</span>
                                        <span class="info">( Chưa cập nhật )</span>
                                        <span class="bi-blank line b-icon bi"></span>
                                        <span class="label">Sinh nhật:</span>
                                        <span class="info">( Chưa cập nhật )</span>
                                    </div>
                                </div>
                                <div class="button-change">Thay đổi</div>
                            </div>
                        </div>
                    </div>
                    <h5>Tài khoản và bảo mật</h5>
                    <div class="personal__account-security container">
                        <div class="row">
                            <div class="col-12">
                                <div class="item">
                                    <span class="label">
                                        Tài khoản
                                        <span class="info">&nbsp;&nbsp;0968161576</span>
                                    </span>
                                    <div class="button-change"></div>
                                </div>
                            </div>
                            <div class="col-12">
                                <div class="item">
                                    <span class="label">
                                        ID
                                        <span class="info">&nbsp;&nbsp;0857190</span>
                                    </span>
                                    <div class="button-change"></div>
                                </div>
                            </div>
                            <div class="col-12">
                                <div class="item">
                                    <span class="label">
                                        E-mail
                                        <span class="info">&nbsp;&nbsp;vudoanhthai12b2002hla@gmail.com</span>
                                    </span>
                                    <div class="button-change">Thay đổi</div>
                                </div>
                            </div>
                            <div class="col-12">
                                <div class="item">
                                    <span class="label">
                                        Khu vực
                                        <span class="info">&nbsp;&nbsp;( Chưa cập nhật )</span>
                                    </span>
                                    <div class="button-change">Thay đổi</div>
                                </div>
                            </div>
                            <div class="col-12">
                                <div class="item">
                                    <span class="label">
                                        Mật Khẩu
                                        <span class="info">&nbsp;&nbsp;******</span>
                                    </span>
                                    <div class="button-change">Thay đổi</div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<!-- Normal Breadcrumb End -->


