
@{
    ViewData["Title"] = "infouser";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<!-- Normal Breadcrumb Begin -->
<br />
<div class="container-lg">
    <div class="row">
        <div class="widget-sidebar col-lg-3">
            <div class="side-bar">
                <h4 class="side-bar__title">Tài khoản và dịch vụ</h4>
                <ul class="nav nav-content flex-column">
                    <li class="nav-item menu-item">
                        <a onclick="info()" class="nav-link nuxt-link-exact-active active" target="_self" aria-current="page" style="cursor: pointer;">
                            <span class="title">Thông tin cá nhân</span>
                        </a>
                    </li>
                    <li class="nav-item menu-item">
                        <a href="/tai-khoan/lich-su-giao-dich" class="nav-link" target="_self">
                            <span class="title">Lịch sử giao dịch</span>
                        </a>
                    </li>
                    <li class="nav-item menu-item">
                        <a href="/tai-khoan/dich-vu-da-mua" class="nav-link" target="_self">
                            <span class="title">Dịch vụ đã mua</span>
                        </a>
                    </li>
                    <li class="nav-item menu-item">
                        <a href="/tai-khoan/ma-kich-hoat" class="nav-link" target="_self">
                            <span class="title">Nhập mã kích hoạt</span>
                        </a>
                    </li>
                    <div class="line"></div>
                    <li class="nav-item menu-item">
                        <a onclick="logout()" target="_self" class="nav-link" style="cursor: pointer;">
                            Đăng xuất tài khoản
                        </a>
                    </li>
                </ul>
            </div>
        </div>
        <div class="content col-lg-9">
            <div id="personal-area">
                <div class="personal" id="infou">
                    
                </div>
            </div>
        </div>
    </div>
</div>
<br />
<br />
<br />
<!-- Normal Breadcrumb End -->

<script src="@Url.Content("~/pagesjs/info.js")"></script>
<script>
    info();
</script>
