
@{
    ViewData["Title"] = "package";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<link rel="stylesheet" href="../Home/css/Stylepackage.css" type="text/css">
<div class="container" style="margin-bottom:50px;">
    <div class="package-item head p-0">Mua gói</div>
    <div class="row" id="ps">
        
    </div>
</div>

<script src="@Url.Content("~/pagesjs/package.js")"></script>
<script>
    package();
</script>
