@{
    ViewData["Title"] = "pay";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@model DATNWEB.Models.ServiceUsage
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
<link rel="stylesheet" href="../Home/css/stylepay.css" type="text/css">
<div class="color-white container pt-4">
    <h3 class="font-weight-bold mb-4 text-2xl pl-4">Thanh toán</h3> <div class="row">
        <div class="col-lg-7 col-12">
            <div class="PaySection rounded-xl is-darken">
                <h4 class="font-weight-bold mb-2 text-lg">
                    Chọn thời hạn gói
                </h4>
                <div id="price"></div>
            </div>
            <div class="PaySection rounded-xl is-darken">
                <h4 class="font-weight-bold mb-2 text-lg">
                    Chọn hình thức thanh toán
                </h4>
                <div class="PayMethod__Wrapper">
                    <a id="momo_walle" class="PayMethod block relative cursor-pointer">
                        <div class="PayMethod__Select">
                                <input type="radio" id="checkbox" name="checkboxp" checked />
                        </div>
                        <div class="PayMethod__Icon">
                            <img src="https://static.fptplay.net/static/img/share/video/21_10_2020/momo21-10-2020_17g15-59.png" alt="">
                        </div>
                        <div class="PayMethod__Item flex align-items-center w-full">
                            <div class="PayMethod__Meta">
                                <h5 class="mb-0">Ví MoMo</h5>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="PayMethod__Wrapper">
                    <a id="airpay" class="PayMethod block relative cursor-pointer">
                        <div class="PayMethod__Select">
                            <input type="radio" id="checkbox" name="checkboxp" />
                        </div>
                        <div class="PayMethod__Icon">
                            <img src="https://images.fptplay.net/media/photo/OTT/2024/03/29/shopeepay-square-icon-orange29-03-2024_11g46-20.png" alt="">
                        </div>
                        <div class="PayMethod__Item flex align-items-center w-full">
                            <div class="PayMethod__Meta">
                                <h5 class="mb-0">Ví ShopeePay</h5>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="PayMethod__Wrapper">
                    <a id="vn_pay" class="PayMethod block relative cursor-pointer">
                        <div class="PayMethod__Select ">
                            <input type="radio" id="checkbox" name="checkboxp" />
                        </div>
                        <div class="PayMethod__Icon">
                            <img src="https://static.fptplay.net/static/img/share/promotion/05_08_2021/vnpayjpg05-08-2021_14g08-22.png" alt="">
                        </div>
                        <div class="PayMethod__Item flex align-items-center w-full">
                            <div class="PayMethod__Meta">
                                <h5 class="mb-0">VNPAY-QR</h5>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="PayMethod__Wrapper">
                    <a id="zalo_pay" class="PayMethod block relative cursor-pointer">
                        <div class="PayMethod__Select">
                            <input type="radio" id="checkbox" name="checkboxp" />
                        </div>
                        <div class="PayMethod__Icon">
                            <img src="https://static.fptplay.net/static/img/share/video/21_10_2020/zalopay21-10-2020_17g16-23.png" alt="">
                        </div>
                        <div class="PayMethod__Item flex align-items-center w-full">
                            <div class="PayMethod__Meta">
                                <h5 class="mb-0">Ví ZaloPay</h5> <p class="mb-0">
                                    
                                </p>
                            </div>
                        </div>
                    </a>
                </div>               
            </div>
        </div>
        <div class="col-lg-5 col-12">
            <div id="payment-total">
                <div class="PaySection rounded-xl is-darken" id="inf">
                </div>
            </div>
        </div>
    </div>
</div>


<script src="@Url.Content("~/pagesjs/pay.js")"></script>
<script>
    getprice('@Model.PackageId')
</script>
