
@{
    ViewData["Title"] = "Register";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<style>
    /* Hide the number input spinner */
    input[type=number]::-webkit-inner-spin-button,
    input[type=number]::-webkit-outer-spin-button {
        -webkit-appearance: none;
        margin: 0;
    }
    
    input[type=number] {
        /* Ensure the input width is consistent */
        width: 100px; /* Adjust width as needed */
    }
</style>
<!-- Normal Breadcrumb Begin -->
<section class="normal-breadcrumb set-bg" data-setbg="../home/img/normal-breadcrumb.jpg" style="background-image: url('../Home/img/normal-breadcrumb.jpg'); max-width: 1350px; max-height: 300px;">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <div class="normal__breadcrumb__text">
                    <h2>Sign Up</h2>
                    <p>Welcome to the official Anime blog.</p>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Normal Breadcrumb End -->
<!-- Signup Section Begin -->
<section class="signup spad">
    <div class="container">
        <div class="row">
            <div class="col-lg-6">
                <div class="login__form">
                    <h3>Sign Up</h3>
                    <form>
                        <div class="input__item">
                            <input type="text" placeholder="Email address" id="mailid">
                            <span class="icon_mail"></span>
                        </div>
                        <div class="input__item" style="display: flex;">
                            <input type="number" placeholder="Mã code" id="codeid" style="flex-grow: 1;" oninput="this.value = this.value.slice(0, 6)">
                            <span class="icon_mail"></span>
                            <button type="button" onclick="sendlat60()" id="sendmail" class="icon_code" style="flex-grow: 1;height:50px;font-size:15px;color:#b7b7b7;background:#1000ff;border:none;margin-top:0px!important;">Gửi mã</button>
                        </div>
                        <div class="input__item">
                            <input type="text" placeholder="Your Name" id="nameid">
                            <span class="icon_profile"></span>
                        </div>
                        <div class="input__item">
                            <input type="text" placeholder="Password" id="passid">
                            <span class="icon_lock"></span>
                        </div>
                        <button type="button" onclick="register()" class="site-btn">Login Now</button>
                    </form>
                    <h5>Already have an account? <a href="#">Log In!</a></h5>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="login__social__links">
                    <h3>Login With:</h3>
                    <ul>
                        <li>
                            <a href="#" onclick="loginWithFace()" class="facebook"><i class="fa fa-facebook"></i> Sign in With Facebook</a>
                        </li>
                        <li><a href="#" onclick="loginWithGoogle()" class="google"><i class="fa fa-google"></i> Sign in With Google</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Signup Section End -->
<script src="@Url.Content("~/pagesjs/login.js")"></script>