@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.3/jquery.min.js"></script>
<script src="../Home/js/jquery-3.3.1.min.js"></script>
<script src="../Home/js/bootstrap.min.js"></script>
<script src="../Home/js/player.js"></script>
<script src="../Home/js/jquery.nice-select.min.js"></script>
<script src="../Home/js/mixitup.min.js"></script>
<script src="../Home/js/jquery.slicknav.js"></script>
<script src="../Home/js/owl.carousel.min.js"></script>
<script src="../Home/js/main.js"></script>
<script src="@Url.Content("~/lib/signalr/dist/browser/signalr.min.js")"></script>
<header class="header">
    <div class="container">
        <div class="row">
            <div class="col-lg-2">
                <div class="header__logo">
                    <a asp-action="Index" asp-controller="home">
                        <img src="../Home/img/logo.png" alt="">
                    </a>
                </div>
            </div>
            <div class="col-lg-8">
                <div class="header__nav">
                    <nav class="header__menu mobile-menu">
                        <ul>
                            <li class="active"><a asp-action="Index" asp-controller="home">Trang chủ</a></li>
                            <li>
                                <a>Thể Loại <span class="arrow_carrot-down"></span></a>
                                <ul class="dropdown">
                                    @{
                                        QlPhimAnimeContext db = new QlPhimAnimeContext();
                                        var genre = db.Genres.OrderBy(x => x.GenreName).ToList();
                                    }
                                    @foreach (var item in genre)
                                    {
                                        <li>
                                            <a asp-action="category" asp-controller="home" asp-route-Genre="@item.GenreId" >
                                                @item.GenreName
                                            </a>
                                        </li>
                                    }
                                </ul>
                            </li>
                            <li><a asp-action="blog" asp-controller="home">Blog</a></li>
                        </ul>
                    </nav>
                </div>
            </div>
            <div class="col-lg-2">
                <div class="header__right">
                    <a href="#" class="search-switch"><span class="icon_search"></span></a>
                    <a asp-action="Login" asp-controller="Home"><span class="icon_profile"></span></a>
                </div>
            </div>
        </div>
        <div id="mobile-menu-wrap"></div>
    </div>
</header>