@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@model DATNWEB.Models.Genre;
@{
    ViewData["Title"] = "genresAdd";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
}

<div class="card">
    <div class="card-body">
        <h4 class="card-title">Add Genre</h4>
        <form method="post" action="@Url.Action("genreAdds", "Genre")" class="forms-sample">
            @Html.AntiForgeryToken()
            <div class="form-group">
                <label>Genre ID</label>
                <input type="text" class="form-control" asp-for="GenreId" placeholder="ID" value="@Model.GenreId" readonly>
            </div>
            <div class="form-group">
                <label>Genre Name</label>
                <input type="text" class="form-control" asp-for="GenreName" placeholder="Name">
            </div>
            <div class="form-group">
                <label>Information</label>
                <input type="text" class="form-control" asp-for="Infomation" placeholder="Name">
            </div>
            <button type="submit" class="btn btn-gradient-primary me-2">Submit</button>
            <a class="btn btn-light" href="/admin/genre">Cancel</a>
        </form>
    </div>
</div>

